*:root {
  box-sizing: border-box;
}
html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  background-color: rgb(223, 212, 224);
}

h1 {
  font-size: 65px;
}
h2 {
  font-size: 55px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 24px;
}
p {
  font-size: 24px;
}
li {
  list-style-type: none;
  font-size: 14px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
/* i{
  color:#fff;
} */

.container {
  width: 80%;
  margin: auto;
}
.container-2 {
  width: 70%;
  margin: auto;
}
.container-fluid {
  width: 90%;
  margin: auto;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.margin-auto {
  margin: auto;
}
.justify-content-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.flex-start {
  align-items: flex-start;
}
.flex-end {
  display: flex;
  align-items: flex-end;
}
.flex {
  display: flex;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-basis {
  flex-basis: 0;
  flex-grow: 1;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 20%;
  flex-grow: 1;
}

.link {
  color: #000;
}

@media screen and (max-width: 768px) {
  .flex-row {
    flex-direction: column;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 23px;
    font-weight: bolder;
  }
  p {
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 22px;
    font-weight: bolder;
  }
  p {
    font-size: 20px;
  }
  li {
    list-style-type: none;
    font-size: 13px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
    font-weight: bolder;
  }
  p {
    font-size: 18px;
  }
  li {
    list-style-type: none;
    font-size: 12px;
  }
}

/* static stylings */
.btn {
  padding: 10px 20px;
  background-color: rgba(199, 139, 28, 0.918);
  color: #fff;
  width: 25%;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  margin-right: 20px;
}
.link-page {
  color: rgba(12, 12, 85, 0.787);
  font-weight: 800;
  font-size: 28px;
}
.forward {
  margin-top: 60px;
  margin-bottom: 60px;
}
sup {
  color: red;
}
