.task-one-pg-1 {
  width: 60%;
  margin: auto;
  height: 100vh;
}
.task-one-pg-1 form,
.task-one-pg-1 form label {
  width: 100%;
  margin: auto;
}
.task-one-pg-1 label p {
  font-size: 26px;
  font-weight: 600;
}
.location div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.location div label {
  width: 100%;
}
/* .location div label input {
  width: 10%;
} */
/* .task-one-pg-1 form label input {
  width: 97%;
  margin: auto;
  padding: 20px 20px;
  font-size: 26px;
  border: 1px solid rgba(12, 12, 85, 0.787);
  border-radius: 10px;
} */
/* }
.task-one-pg-1 form {
  width: 60%;
  margin: auto;
}
.taskone-pg-1 form label {
  font-weight: 700;
  font-size: 180%;
}
.taskone-pg-1 form input {
  width: 97%;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid rgba(12, 12, 85, 0.787);
  padding: 20px 15px;
  font-size: 150%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.taskone-pg-1 form div {
  width: 100%;
} */

/* page two */
.billing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
  color: rgba(12, 12, 85, 0.787);
  height: 100vh;
}
.billing-form label,
.billing-form .card-details {
  width: 100%;
}
.card-details div,
.billing-final {
  width: 100%;
}
.card-details label {
  width: 80%;
}
.card-details {
}
/* .billing-form input,
.card-details input,
select {
  padding: 15px 10px;
  font-size: 26px;
  border-radius: 10px;
} */
/* page three */
.taskone-pg-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.taskone-pg-three table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: #fff;
  border-radius: 20px;
  margin: auto;
  box-shadow: 4px 8px rgba(121, 120, 120, 0.3);
  color: rgba(12, 12, 85, 0.787);
  overflow-y: auto;
  padding-bottom: 50px;
}
.taskone-pg-three form {
  width: 60%;
  margin: auto;
}
.taskone-pg-three table thead {
  width: 100%;
  background-color: rgba(31, 31, 241, 0.8);
  border-radius: 20px 20px 0px 0px;
  color: #fff;
}
.items-payment {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.items-payment tr {
  margin-top: 25px;
  margin-bottom: 25px;
}
.hr {
  width: 90%;
  margin: auto;
  padding: 0.5px 0;
  background-color: rgba(12, 12, 85, 0.787);
}
.total {
  border: 1px solid rgba(12, 12, 85, 0.787);
  padding: 1%;
  width: 80%;
  border-radius: 5px;
  font-size: 24px;
}
.thead {
  width: 80%;
  margin: auto;
}
.thead p {
  font-size: 28px;
}
tr td {
  font-size: 24px;
}

/* page four */
.taskone-pg-four {
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}
.pg-four-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: #fff;
  border-radius: 20px;
  margin: auto;
  box-shadow: 4px 8px rgba(121, 120, 120, 0.3);
  overflow-y: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.fa-check {
  background-color: #fff;
  box-shadow: 4px 4px rgba(121, 120, 120, 0.3);
  border-radius: 100%;
  padding: 30px;
  font-size: 45px;
}
.confirm-payment {
  width: 65%;
}
.confirm-payment h1 {
  color: rgba(12, 12, 85, 0.787);
}
.confirm-payment p {
  color: rgb(73, 73, 73);
  font-size: 26px;
}
.home-link {
  color: rgba(199, 139, 28, 0.918);
  font-size: 24px;
  border-bottom: 3px solid rgba(199, 139, 28, 0.918);
}

/* media queries */

@media screen and (max-width: 768px) {
  .location,
  .card-details {
    flex-direction: column;
  }

  .pg-four-con,
  .taskone-pg-three table,
  .taskone-pg-three form,
  .billing-form,
  .task-one-pg-1 {
    width: 70%;
  }
  .fa-check {
    padding: 20px;
    font-size: 35px;
  }
  .confirm-payment {
    width: 75%;
  }
  .confirm-payment p {
    font-size: 24px;
  }
  .items-payment,
  .total,
  .thead,
  .card-details label {
    width: 85%;
  }

  .thead p {
    font-size: 25px;
  }
  tr td {
    font-size: 22px;
  }
}
@media screen and (max-width: 600px) {
  .pg-four-con,
  .taskone-pg-three table,
  .taskone-pg-three form,
  .billing-form,
  .task-one-pg-1 {
    width: 80%;
  }
  .fa-check {
    font-size: 30px;
  }
  .confirm-payment {
    width: 80%;
  }
  .confirm-payment p {
    font-size: 22px;
  }
  .items-payment,
  .total,
  .thead,
  .card-details label {
    width: 90%;
  }
  .thead p {
    font-size: 24px;
  }
  tr td {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .pg-four-con,
  .taskone-pg-three table,
  .taskone-pg-three form,
  .billing-form,
  .task-one-pg-1 {
    width: 90%;
  }
  .fa-check {
    font-size: 25px;
  }
  .confirm-payment {
    width: 90%;
  }
  .confirm-payment p {
    font-size: 20px;
  }
  .thead p {
    font-size: 22px;
  }
}
.card-details-g label {
  width: 90%;
}
.desc {
  color: #000;
  font-size: 18px;
}
