.task-one-pg-1 {
  width: 60%;
  margin: auto;
}
.task-one-pg-1 label p {
  font-weight: 600;
}
.task-one-pg-1 label .desc {
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
}
.location {
  display: flex;
  justify-content: space-between;
}
.input-select-location {
  width: 50%;
  margin-left: 40px;
}
.input-select {
  width: 100%;
  padding: 3.5% 0;
  border: 1px solid rgba(12, 12, 85, 0.787);
  background-color: #fff;
  border-radius: 10px;
}

/* page two */
.billing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
}
.billing-form label p {
  font-weight: 600;
}
.card-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-no {
  width: 50%;
}
.card-details-g {
  width: 40%;
}
.card-no label {
  padding: 5% 0;
}
.card-details-g label {
  padding: 10% 0;
}
.billing-final {
  width: 100%;
}

/* page three */
.taskone-pg-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.taskone-pg-three table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: #fff;
  border-radius: 20px;
  margin: auto;
  box-shadow: 4px 8px rgba(121, 120, 120, 0.3);
  color: rgba(12, 12, 85, 0.787);
  overflow-y: auto;
  padding-bottom: 50px;
}
.taskone-pg-three form {
  width: 60%;
  margin: auto;
}
.taskone-pg-three table thead {
  width: 100%;
  background-color: rgba(31, 31, 241, 0.8);
  border-radius: 20px 20px 0px 0px;
  color: #fff;
}
.items-payment {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.items-payment tr {
  margin-top: 25px;
  margin-bottom: 25px;
}
.hr {
  width: 90%;
  margin: auto;
  padding: 0.5px 0;
  background-color: rgba(12, 12, 85, 0.787);
}
.total {
  border: 1px solid rgba(12, 12, 85, 0.787);
  padding: 1%;
  width: 80%;
  border-radius: 5px;
  font-size: 24px;
}
.thead {
  width: 80%;
  margin: auto;
}
.thead p {
  font-size: 28px;
}
tr td {
  font-size: 24px;
}

/* page four */
.taskone-pg-four {
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}
.pg-four-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: #fff;
  border-radius: 20px;
  margin: auto;
  box-shadow: 4px 8px rgba(121, 120, 120, 0.3);
  overflow-y: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.fa-check {
  background-color: #fff;
  box-shadow: 4px 4px rgba(121, 120, 120, 0.3);
  border-radius: 100%;
  padding: 30px;
  font-size: 45px;
}

.confirm-payment h1 {
  color: rgba(12, 12, 85, 0.787);
}
.confirm-payment p {
  color: rgb(73, 73, 73);
}
.home-link {
  color: rgba(199, 139, 28, 0.918);
  font-size: 24px;
  border-bottom: 3px solid rgba(199, 139, 28, 0.918);
}

/* media queries */
@media screen and (max-width: 900px) {
  .pg-four-con,
  .taskone-pg-three table,
  .taskone-pg-three form,
  .billing-form,
  .task-one-pg-1 {
    width: 65%;
  }
  .input-select-location {
    width: 50%;
    margin-left: 25px;
    padding: 2% 0;
    border: 1px solid rgba(12, 12, 85, 0.787);
    background-color: #fff;
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  .card-details {
    flex-direction: column;
  }

  .pg-four-con,
  .taskone-pg-three table,
  .taskone-pg-three form,
  .billing-form,
  .task-one-pg-1 {
    width: 70%;
  }
  .input-select-location {
    width: 50%;
    margin-left: 10px;
  }
  .fa-check {
    padding: 20px;
    font-size: 35px;
  }
  .items-payment,
  .total,
  .thead,
  .card-details label {
    width: 85%;
  }

  .thead p {
    font-size: 25px;
  }
  tr td {
    font-size: 22px;
  }
}
@media screen and (max-width: 600px) {
  .pg-four-con,
  .taskone-pg-three table,
  .taskone-pg-three form,
  .billing-form,
  .task-one-pg-1 {
    width: 80%;
  }
  .location {
    flex-direction: column;
  }
  .location label,
  .input-select-location {
    width: 100%;
  }
  ..input-select-location {
    margin: 0px;
  }
  .card-details {
    flex-direction: column;
  }

  .fa-check {
    font-size: 30px;
  }

  .items-payment,
  .total,
  .thead,
  .card-details label {
    width: 90%;
  }
  .thead p {
    font-size: 24px;
  }
  tr td {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .pg-four-con,
  .taskone-pg-three table,
  .taskone-pg-three form,
  .billing-form,
  .task-one-pg-1 {
    width: 90%;
  }
  .fa-check {
    font-size: 25px;
  }
}
.card-details-g label {
  width: 90%;
}

.input-select-location {
  background-color: transparent;
}
